 h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica !important;
}  
  
  a.navbar-brand {
    font-family: 'Coolvetica Rg';
    color: #e0e1e7 !important;
    
  }

  .navbar-brand {
    float: left;
    /* height: 50px; */
    padding: 20px 15px;
    font-size: 38px;
    margin-left: 50px;
    padding-left: 20px;
}

img.logo-img {
  height: 50px;
  width: auto;
  padding-bottom: 15px;
  border-radius: 0%;
}

.nav-link {
  font-size: 16px;
  /* line-height: 25px !important; */
}

  @font-face {
    font-family: 'Coolvetica Rg';
    src: url('CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}

#myNavbar.collapse.navbar-collapse {
  background-color: #281E2F;
  padding: 0px 0px;
}

ul.nav.navbar-nav.navbar-right {
  margin: 0px 0px 0px 0px;
}

nav.navbar.navbar-inverse {
  margin: 0px 0px 0px 0px;
  box-shadow: 0 0 10px 0 #0f0f0f;
  
}

/* img.logo {
  border-radius: 0%;
  padding-bottom: 25px;
  padding-top: 0px;
  margin-top: 0px;
} */

.body-content{
    background-color: #35293E !important;
  }

.user-link:hover {
  text-decoration: underline;
}

.log-link:hover {
  text-decoration: underline;
  color: white;
}

.user-icon {
  border-radius: 50% !important;
  padding-left: 1%;
}

.user-icon-exp {
  border-radius: 50% !important;
  padding-left: 1%;

}

.others {
  padding-bottom: 2%;
}

.xplore-cont, .user-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
  align-self: center;
  margin: 5px;
}

.user-list {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.username, .user-bio, .last-seen {
  text-align: left;
  padding-left: 3%;
}

.user-bio {
  max-width: 400px;
}

.pages-link {
  justify-content: space-between;
  display: inline-block;
  padding-left: 1%;
}

.prof-edit {
  text-align: left;
  padding-left: 3%;
  /* padding-right: 1%; */
}

.following-ers {
  float: right; margin: -41px 1px 15px 300px;
  font-weight: normal;
}


.user-link {
  /* padding-top: 5%; */
  float: left; margin: 0px 0px 0px 0px;
}


.navbar {
  background-color: #281E2F !important;
  display: inline;
  margin-left: 20%;
  padding-top: 1%;
}

li {
  display: inline;
  margin: 10px;
  font-family: helvetica;
}


.follow-button {
  text-align: right;

  background-color: #35293E !important;
  box-shadow: 0 0 0 0;
}

form.follow-button {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;

}

.logo {
  height: 70px;
  margin-left: 35%;
}

.logo-link {
  margin-left: 10%;
}

body {
  background-color: #35293E !important;
  height: 125vh;
  font-family: helvetica;
  margin-top: 7%;
  
}

.user-body {
  margin-top: 2%;
}

.body-content {
  margin-left: 10%;
  margin-right: 10%;
}

/* .head-nav {
  background-color: #281E2F;
  box-shadow: 0 0 10px 0 #0f0f0f;
} */

/* header {
  background-color: #281E2F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  box-shadow: 0 0 10px 0 #0f0f0f;
  text-align: right !important;
} */

div.user-post {
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}

.movie-card {
  width: 250px;
  max-height: auto;
  padding: 3%;
  align-self: center;
  border-radius: 2px;
  justify-content: space-between;
}

.post-poster {
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}

.movie-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
}

img {
  max-width: 100%;
  border-radius: 25px;
}

h1 {
  color: white;
  text-align: center;
  font-family: helvetica;
}

h3 {
  color: white;
  font-family: helvetica;
}

.form-wrap {
  text-align: center;
}

form {
  display: inline-block;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  width: 50%;
  text-align: center;
  max-width: 80%;
  background-color: #281E2F;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  /* box-shadow: 0 3px 8px 1px #1a1a1a; */
  /* box-shadow: 0 0 10px 0 #0f0f0f; */
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}


.user-post {
  display: inline-block;
  flex-direction: row;
  align-content: center;
  width: 80%;
  padding-top: 3%;
  padding-bottom: 1%;
  justify-content: space-around;
  background-color:#281E2F;
  border-radius: 25px;
  padding-left: 3%;
  font-family: helvetica;
  margin-bottom: 1%;
}

.result-1-recc {
  display: inline-block;
  flex-direction: row;
  align-content: center;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 1%;
  justify-content: space-around;
  background-color:#281E2F;
  border-radius: 25px;
  justify-content: space-between;
}

.res-1-cont{
  text-align: center;
}

.rec-poster {
  width: 250px;
  height: auto;
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}
.ready-b {
  color: white !important;
  background-color: teal !important;
  border-style: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  width: 20%;
  border-radius: 8px;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

a.btn.btn-primary.btn-lg {
  background-color: teal;
  border-color: teal;
}

.ready-cont {
  text-align: center;
}

.get-rec-b {
  color: white !important;
  background-color: teal !important;
  border-style: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 5px;
  width: 30%;
  border-radius: 8px;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: helvetica;
  /* box-shadow: 0 3px 8px 1px #1a1a1a; */
}

a.get-rec-b {
  text-decoration: none;
}

.user-post-cont{
  padding-top: 1%;
}

.res-sub {
  text-align: center;
  font-weight: normal;
  font-family: helvetica;
}

.post-poster {
  width: 130px;
  height: auto;
  float: left; margin: 0px 35px 15px 0px;
  border-radius: 10px;
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}

.p-m-name, .p-re-text, .p-u-rate, .p-rev {
  text-align: left !important;
}

.search-bar {
  text-align: center;
  
}

.search-form{
  margin-top: 5px;
  /* background-color: #35293E !important;
  box-shadow: 0 0 0 0 ; */
}

input[type="text" i], input[type="password" i] {
  padding-top: 10px;
  margin-top: 10px;
}

/* .about-me-box {
  margin-left: 20%;
} */

.p-date {
  text-decoration-thickness: None;
}

.form {
  text-align: center;
}

.home-content {
  /* background-color: #281E2F;
  border-radius: 25px; */
  padding-bottom: 3%;

}

.poster-name:hover {
  text-decoration: underline;
}

.nav-text {
  color: #ecedee;
  font-family: helvetica;
}

.nav-text:hover {
  color: white;
  text-decoration: underline;
}

.nav-link {
  color: #ecedee;
}
.nav-link:hover {
  color: white;
}


.user-post {
  padding-right: 3%;
}

.body-post-cont {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}

.pages-link:hover {
  text-decoration: underline;
}

.user-content {
  text-align: left;
  padding-bottom: 3%;
}

label {
  font-size: auto;
  font-family: helvetica;
}

p {
  color: whitesmoke;
  text-align: center;
  font-family: helvetica;
}


input[type="submit" i] {
  color: white !important;
  background-color: teal !important;
  border-style: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  margin: 5px;
  width: 30%;
  border-radius: 8px;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: helvetica;
  box-shadow: 0px 1px 5px 0px #0f0f0f;
  
}

input#submit {
  box-shadow: 0px 1px 5px 0px #0f0f0f;
}

.movie-rec-poster {
  border-radius: 4%;
}

.reg-button {
  /* color: white !important;
  background-color: teal !important; */
  /* border-style: none; */
  /* text-align: center;
  text-decoration: none; */
  display: inline-block;
  text-align: center;
  font-size: 90%;
  margin: 5px;
  width: 100%;
  border-radius: 8px;
  padding: 3px 5px;
  display: inline;
  font-family: helvetica;
}

.reg-wrap {
  text-align: center;
}

.submit-wrap {
  width: 55%;
  text-align: center;
  margin: auto ;
}

.gratewrap {
  text-align: center;
}

.register-link, .prof-edit {
  text-decoration: underline;
}

.register-link:hover {
  color: white;
}

input[type="text" i], input[type="password" i] {
  width: 55%;
  padding: 7px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: auto;
  font-family: helvetica;
  color: #0f0f0f;
}

.edit-profile {
  text-align: center;
}

.edit-form, .grate-form {
  display: inline-block;
  margin-top: 0;
}

input[type="password" i] {
  width: 55%;
  padding: 7px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: auto;
  font-family: helvetica;
}

.log-poster {
  width: 200px;
  height: auto;
  float: left; margin: 0px 35px 15px 0px;
  box-shadow: 0 2px 9px 1px #1a1a1a; 
}

.log-date {
  text-align: center;
  /* padding-left: 5%; */
}


input[type="date" i] {
  font-family: helvetica;
  padding-left: 5px;
  width: 170px;
  color: #3f3f3f;
}

h2.log-name {
  margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.log-name {
  /* padding-left: 5% !important; */
  text-align: center;
}

/* .log-review, .review-cont {
  text-align: left !important;
} */

textarea {
  font-family: helvetica;
  resize: none;
  width: 275px;
  height: 50px;
  text-align: left !important;
  outline: none;
  padding-left: 5px;  
  border-radius: 4px;

}

.repeat-log {
  text-align: center;
}

.log-button {
  text-align: center;
}

.log-stars {
  text-align: left;
  
}

.log-form {
  margin-top: 1% !important;
  padding-left: 5%;
  padding-right: 5%;
  width: 70%;
}
.content-log {
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-family: helvetica;
}

ul {
  color: white;
  font-family: helvetica;
}

.se-sub {
  font-weight: normal;
  text-align: center;
  font-family: helvetica;
}

.recc-link {
  text-decoration: underline;
  font-family: helvetica;
}

.recc-card {
  width: 200px;
  height: auto;
}

.recc-list-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.recc-movie-card{
  width: 250px;
  height: auto;
  
}

#movieRating {
  border: none;
  
}


#movieRating label {
  color: #90A0A3;
  float: right;
  visibility: hidden;
}

#movieRating label:before {
  margin: 5px;
  font-size: 150%;
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  display: inline-block;
  visibility: visible;
}

#movieRating  input {
  display: none;
  
}

#movieRating  input:checked  label,
#movieRating:not(:checked)  label:hover {
  color: #F79426;
}

#movieRating  input:checked ~ label{
  color: #FECE31;
  visibility: visible;
}

ul#movieRating {
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  float: left; margin-left: -7%;
  font-weight: 700 !important;

}

p.log-review {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.imdb-sub {
  font-weight: normal;
  font-family: helvetica;
  text-align: center;
}

.rec-overview {
  text-align: justify;
}

/* video pop up */

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}

/* div.button-tut {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
} */
/* a.btn.btn-primary.btn-lg {
  text-align: center;
  justify-content: space-around;
  width: fit-content;
  margin-top: 1%;

} */

a.btn.btn-primary.btn-lg {
  width: fit-content;
  margin: 0 auto;
}

div.button-tut {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tut-cont {
  background-color: #281E2F;
  border-radius: 25px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
  box-shadow: 0 2px 9px 1px #1a1a1a; 
  padding: 2%; 
}


 /* .tutorial-cont {
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  flex-direction: column;
  align-content: center; 
  width: fit-content;
  text-align: center;
  background-color: #281E2F;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  box-shadow: 0 2px 9px 1px #1a1a1a; 
  padding: 3%; 
}  */

/* dropdown styling */

/* Dropdown Button */
#dropbtn {
  background-color: #281E2F;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
/* #dropbtn:hover, #dropbtn:focus {
  background-color: #3e8e41;
} */

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: fit-content;
  text-align: left;
}

/* The search field when it gets focus/clicked on
#myInput:focus {outline: 3px solid #ddd;} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}