.body-content{
    background-color: #35293E !important;
  }

.user-link:hover {
  text-decoration: underline;
}

.user-icon {
  border-radius: 50% !important;
  padding-left: 1%;
}

.user-icon-exp {
  border-radius: 50% !important;
  padding-left: 1%;

}

.others {
  padding-bottom: 2%;
}

.xplore-cont, .user-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
  align-self: center;
}

.username, .user-bio, .last-seen {
  text-align: left;
  padding-left: 3%;
}

.user-bio {
  max-width: 400px;
}

.pages-link {
  justify-content: space-between;
  display: inline-block;
  padding-left: 1%;
}

.prof-edit {
  text-align: left;
  padding-left: 3%;
  /* padding-right: 1%; */
}

.following-ers {
  float: right; margin: -51px 1px 15px 500px;
  font-weight: normal;
}


.user-link {
  padding-top: 5%;
  float: left; margin: 0px 10px 15px 20px;
}


.navbar {
  background-color: #281E2F !important;
  display: inline;
  margin-left: 20%;
  padding-top: 1%;
}

li {
  display: inline;
  margin: 10px;
}


.follow-button {
  text-align: right;
  padding-left: 30%;
}

a {
  color: white;
  text-decoration: none;

}

.logo {
  height: 60px;
  margin-left: 10%;
}

.logo-link {
  margin-left: 10%;
}

body {
  background-color: #35293E !important;
  height: 125vh;
  font-family: sans-serif;
  margin-top: 100px;
  
}

.body-content {
  margin-left: 10%;
  margin-right: 10%;
}

header {
  background-color: #281E2F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  box-shadow: 0 0 10px 0 #0f0f0f;
  text-align: right !important;
}

.movie-card {
  width: 250px;
  max-height: auto;
  padding: 3%;
  align-self: center;
  border-radius: 2px;
  box-shadow: 4px grey;
  margin: 12px;
  justify-content: space-between;
}

.movie-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3%;
}

img {
  max-width: 100%;
  border-radius: 25px;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
}

.form-wrap {
  text-align: center;
}

form {
  display: inline-block;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  width: 50%;
  text-align: center;
  max-width: 60%;
  background-color: #281E2F;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  /* box-shadow: 0 5px 10px 2px #161616; */
}

.user-info {
  /* background-color: #281E2F; */
  /* padding: 10px;
  border-radius: 25px; */
}

.user-post {
  display: inline-block;
  flex-direction: row;
  align-content: center;
  width: 80%;
  padding-top: 3%;
  padding-bottom: 1%;
  justify-content: space-around;
  background-color:#281E2F;
  border-radius: 25px;
  padding-left: 3%;
  justify-content: space-between;
}

.result-1-recc {
  display: inline-block;
  flex-direction: row;
  align-content: center;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 1%;
  justify-content: space-around;
  background-color:#281E2F;
  border-radius: 25px;
  justify-content: space-between;
}

.res-1-cont{
  text-align: center;
}

.rec-poster {
  width: 250px;
  height: auto;
}

.get-rec-b {
  color: white !important;
  background-color: teal !important;
  border-style: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 5px;
  width: 30%;
  border-radius: 8px;
  padding-bottom: 2%;
  padding-top: 2%;
}

.user-post-cont{
  padding-top: 1%;
}

.res-sub {
  text-align: center;
  font-weight: normal;
}

.post-poster {
  width: 130px;
  height: auto;
  float: left; margin: 0px 35px 15px 0px;
  border-radius: 10px;
}

.p-m-name, .p-re-text, .p-u-rate, .p-rev {
  text-align: left !important;
}

.search-bar {
  text-align: center;
  
}

.search-form{
  margin-top: 5px;
}

/* .about-me-box {
  margin-left: 20%;
} */

.p-date {
  text-decoration-thickness: None;
}

.form {
  text-align: center;
}

.home-content {
  /* background-color: #281E2F;
  border-radius: 25px; */
  padding-bottom: 3%;

}

.poster-name:hover {
  text-decoration: underline;
}

.nav-text {
  color: #DFE2E8;
}

.nav-text:hover {
  color: white;
  text-decoration: underline;
}

.user-post {
  padding-right: 3%;
}

.body-post-cont {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 3%;
}

.pages-link:hover {
  text-decoration: underline;
}

.user-content {
  text-align: left;
  padding-bottom: 3%;
}

label {
  font-size: auto;
}

p {
  color: whitesmoke;
  text-align: center;
}


input[type="submit" i] {
  color: white !important;
  background-color: teal !important;
  border-style: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  margin: 5px;
  width: 30%;
  border-radius: 8px;
  padding-bottom: 2%;
  padding-top: 2%;
  
}

.reg-button {
  /* color: white !important;
  background-color: teal !important; */
  /* border-style: none; */
  /* text-align: center;
  text-decoration: none; */
  display: inline-block;
  text-align: center;
  font-size: 90%;
  margin: 5px;
  width: 100%;
  border-radius: 8px;
  padding: 3px 5px;
  display: inline;
}

.reg-wrap {
  text-align: center;
}

.submit-wrap {
  width: 55%;
  text-align: center;
  margin: auto ;
}

.gratewrap {
  text-align: center;
}

.register-link, .prof-edit, .log-link {
  text-decoration: underline;
}

input[type="text" i] {
  width: 55%;
  padding: 7px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: auto;
}

.edit-profile {
  text-align: center;
}

.edit-form, .grate-form {
  display: inline-block;
  margin-top: 0;
}

input[type="password" i] {
  width: 55%;
  padding: 7px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: auto;
}

.log-poster {
  width: 200px;
  height: auto;
  float: left; margin: 0px 35px 15px 0px;
}

.log-date {
  text-align: center;
  /* padding-left: 5%; */
}


input[type="date" i] {
  font-family: sans-serif;
  padding-left: 5px;
  width: 170px;

}

h2.log-name {
  margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.log-name {
  /* padding-left: 5% !important; */
  text-align: center;
}

/* .log-review, .review-cont {
  text-align: left !important;
} */

textarea {
  font-family: sans-serif;
  resize: none;
  width: 275px;
  height: 50px;
  text-align: left !important;
  outline: none;
  padding-left: 5px;  
  border-radius: 4px;

}

.repeat-log {
  text-align: center;
}

.log-button {
  text-align: center;
}

.log-stars {
  text-align: left;
  
}

.log-form {
  margin-top: 1% !important;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.content-log {
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

ul {
  color: white;
}

.se-sub {
  font-weight: normal;
  text-align: center;
}

.recc-link {
  text-decoration: underline;
}

.recc-card {
  width: 200px;
  height: auto;
}

.recc-list-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.recc-movie-card{
  width: 250px;
  height: auto;
  
}

#movieRating {
  border: none;
  float: left;
  
}

#movieRating label {
  color: #90A0A3;
  float: right;
  visibility: hidden;
}

#movieRating label:before {
  margin: 5px;
  font-size: 150%;
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  display: inline-block;
  visibility: visible;
}

#movieRating  input {
  display: none;
  
}

#movieRating  input:checked  label,
#movieRating:not(:checked)  label:hover {
  color: #F79426;
}

#movieRating  input:checked ~ label{
  color: #FECE31;
  visibility: visible;
}

ul#movieRating {
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  float: left;
}

p.log-review {
  margin-block-start: 0em;
  margin-block-end: 0em;
}