.body-content{
    background-color: #35293E !important;
  }

.navbar{
  background-color: #281E2F !important;
}

/* .navbar{
  color: #746C8A;
} */

/* .navbar-item:hover{
  text-decoration: none;
  background-color: #281E2F !important;
} */

/* .button1 {
  background-color: #1877F2;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  width: 70%;
  border-radius: 8px;
  
} */

/* .button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  width: 70%;
  border-radius: 8px;
} */