<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CineMate</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            <img class="logo" src="https://64.media.tumblr.com/0f1dd678826d17352bf398e36963360d/3ca481d6064ca986-e1/s1280x1920/5cfc66e35d574ebc71bf68ce30950e2939042f53.png">
            <nav class="navbar">
                <ul>  
                    
                    {% if current_user.is_anonymous %}

                    {% else %}
                    <li><a class="nav-text" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="nav-text" href="{{ url_for('popular') }}">Popular</a></li>
                    <li><a class="nav-text" href="{{ url_for('explore') }}">Explore Users</a></li>
                    <li><a class="nav-text" href="{{ url_for('m_search') }}">Add Movie</a></li>
                    <li><a class="nav-text" href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a class="nav-text" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>  
            </nav>
        </header>
        <div class="body-content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>

</html>