{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <div class="edit-profile">
        <form class="edit-form" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username() }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <div class="about-box-cont">
                <p class="about-me-box">
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(cols=37, rows=4) }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    
{% endblock %}