{% extends "base.html" %}
<!-- login page -->
{% block content %}
<div class="form-wrap">
    <form class="login-box" action="" method="post" novalidate>
        <div class="form-group">
            <h1>Login</h1>
            {{ form.hidden_tag() }}
            <p>
                <!-- {{ form.username.label }}<br> -->
                {{ form.username() }}<br>
                {% for error in form.username.errors %}
                <span style="color: white;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <!-- {{ form.password.label }}<br> -->
                {{ form.password() }}<br>
                {% for error in form.password.errors %}
                <span style="color: white;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <div class="submit-wrap">
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            </div>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a class="register-link" href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}