{% extends "base.html" %}

{% block content %}
<div class="res-1-cont">
    <h1> You chose:</h1>
    <div class="result-1-recc">
        <div class="one-mov-card">
            <img class="rec-poster" src="https://image.tmdb.org/t/p/w500/{{result.poster_path}}" alt="">
            <h3 class="rec-name"> {{ result.title }} ({{ result.release_date[:4] }}) </h3>
        </div>

        <a class="get-rec-b"
            href="{{ url_for('rec_options_1', mname=result.title, myear=result.release_date[:4], movieid=result.id) }}">
            Get Recommendation</a>
        <a class="get-rec-b" href="{{ url_for('rec_m_search_2', movie1id=result.id) }}">
            Add Another Movie</a>
    </div>
</div>

{% endblock %}