{% extends "base.html" %}

{% block content %}
<div class="res-1-cont">
    <h1> You chose:</h1>
    <div class="result-1-recc">
        <img class="rec-poster" src="https://image.tmdb.org/t/p/w500/{{result1.poster_path}}" alt="">
        <h2 class="rec-name"> {{ result1.title }} ({{ result1.release_date[:4] }}) </h2>
        <img class="rec-poster" src="https://image.tmdb.org/t/p/w500/{{result2.poster_path}}" alt="">
        <h2 class="rec-name"> {{ result2.title }} ({{ result2.release_date[:4] }}) </h2>
        <img class="rec-poster" src="https://image.tmdb.org/t/p/w500/{{result3.poster_path}}" alt="">
        <h2 class="rec-name"> {{ result3.title }} ({{ result3.release_date[:4] }}) </h2>
        <img class="rec-poster" src="https://image.tmdb.org/t/p/w500/{{result4.poster_path}}" alt="">
        <h2 class="rec-name"> {{ result4.title }} ({{ result4.release_date[:4] }}) </h2>

        <a class="get-rec-b"
            href="{{ url_for('rec_options_4', movie1id=result1.id, movie2id=result2.id, movie3id=result3.id, movie4id=results4.id) }}">
            Get Recommendation</a>


    </div>
</div>

{% endblock %}