{% extends "base.html" %}

{% block content %}
    <h1> You might like these films!</h1>
        <div class="movie-list-container">
            {% for movie in results %}
            {% if movie.poster_path %}
            <div class="movie-card">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
                {% if movie.release_date %}
                <h3>{{movie.title}} ({{movie.release_date[:4]}})</h3>
                {% else %}
                <h3>{{movie.title}}</h3>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
{% endblock %}
